<div class="well"><h1 class="text-center">New Sparql Query</h1></div>

<div class="well"><%= render 'form_for_new_root' %></div>

<%#= link_to 'Back', sparql_queries_path %>

<%#= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>