<h1>New Sparql Query</h1>

<%= render 'form_for_new_root' %>

<%= link_to 'Back', sparql_queries_path %>

<%= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>