
<%= render "partials/navbar" %>

<div class="container">
  <div class="row">
    <div>
      <h2>Sparql Queries</h2>
    </div>

    <div>
      <%= link_to new_sparql_query_path, remote: true do %>
        <button class="btn btn-default">New</button>
      <% end %>
    </div>

    <div id="sparqlQueryForm" style="display:none;"></div>

    <div id="sparqlQueries"><%= render @sparql_queries %></div> 
  </div>
</div>

<%= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>