<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">GeoSparqlViz3</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Sparql Queries", sparql_queries_path%>
          </li>
          <li>
            <%= link_to "Sparql Endpoints", sparql_endpoints_path%>
          </li>
        <% end %>
          <li>
            <a href="https://github.com/ColinConduff/GeoSparqlViz3/wiki/How-To:-Create-and-Visualize-a-Query">Help</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= render 'devise/menu/login_items' %></li>
        <li><%= render 'devise/menu/registration_items' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
// stuff to toggle active class on links
// get error related to not having jquery loaded yet
// move to js file

// function activate(selector) {
//   $(selector).addClass('active');
// }

// function deactivate(selector) {
//   $(selector).addClass('active');
// }

// $("#browse").click(function() {
//   activate("#browse");
//   deactivate("#visualize");
//   deactivate("#editor");
// });

// $("#browse").click(function() {
//   deactivate("#browse");
//   activate("#visualize");
//   deactivate("#editor");
// });

// $("#browse").click(function() {
//   deactivate("#browse");
//   deactivate("#visualize");
//   activate("#editor");
// });

</script>