
<div class="text-center">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-lg-6 col-xs-12 sideBar">
      <div class="well">
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-left">  
              <%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'.html_safe + 
              "View Sparql Queries", sparql_queries_path, {:style => "color:white"}%> 
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>GeoSparql Query Visualizer</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="menuGrouping well">
            <h5>Feature Set 1</h5>

            <select class="selectpicker" id="sparqlEndpoint1"></select>

            <div class="step1">
              <select class="selectpicker" id="featureTypes1"></select>
            </div>

            <div class="step2">
              <select class="selectpicker" id="featureRelationships1"></select>
            </div>

            <div class="featureOptions1">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="noneRadio1" value="option1" checked>
                  None
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="bufferRadio1" value="option2">
                  Buffer
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="boundaryRadio1" value="option3">
                  Boundary
                </label>
              </div>
            </div>

            <input type="text" class="form-control buffer1" placeholder="Buffer">

            <div class="input-group">
              <input type="text" class="form-control" id="searchBar1" placeholder="Search">

              <span class="input-group-btn">
                <button class="btn btn-default toggleFeatureOptions1">
                  <span class="glyphicon glyphicon-collapse-up"></span>
                </button>
              </span>

              <span class="input-group-btn">
                <button class="btn btn-default featureSearch1">
                  <span class="glyphicon glyphicon-send"></span>
                </button>
              </span>
            </div>

            <!-- Display feature's attributes and select map layer -->
            <div class="input-group"> 
              <div class="step3">
                <select class="selectpicker" id="featureResults1"></select>
              </div>
            
              <!-- Button trigger modal -->
              <span class="input-group-btn">
                <button type="button" class="displayAttributesBtn1 btn btn-primary" data-toggle="modal" data-target="#myModal1">
                  <span class="glyphicon glyphicon-th-list"></span>
                </button>
              </span>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="attributeModalTitle1"></div>
                  </div>
                  <div class="modal-body">
                    <table class="table table-condensed featureAttributesList1">
                      <tr></tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Feature 2 menus -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="menuGrouping menuGrouping2 well">
            <h5>Feature Set 2</h5>

            <div class="step3">
              <select class="selectpicker" id="sparqlEndpoint2"></select>
              <select class="selectpicker" id="featureTypes2"></select>
            </div>

            <div class="step4">
              <select class="selectpicker" id="featureRelationships2"></select>
            </div>

            <div class="featureOptions2">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="noneRadio2" value="option1" checked>
                  None
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="bufferRadio2" value="option2">
                  Buffer
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="boundaryRadio2" value="option3">
                  Boundary
                </label>
              </div>
            </div>

            
            <input type="text" class="form-control buffer2" placeholder="Buffer">

            <div class="input-group">
              <input type="text" class="form-control" id="searchBar2" placeholder="Search">

              <span class="input-group-btn">
                <button class="btn btn-default toggleFeatureOptions2">
                  <span class="glyphicon glyphicon-collapse-up"></span>
                </button>
              </span>

              <span class="input-group-btn">
                <button class="btn btn-default featureSearch2">
                  <span class="glyphicon glyphicon-send"></span>
                </button>
              </span>
            </div>

            <!-- Display feature's attributes -->
            <div class="input-group"> 
              <div class="step5">
                <select class="selectpicker" id="featureResults2"></select>
              </div>

              <!-- Button trigger modal -->
              <span class="input-group-btn">
                <button type="button" class="displayAttributesBtn2 btn btn-primary" data-toggle="modal" data-target="#myModal2">
                  <span class="glyphicon glyphicon-th-list"></span>
                </button>
              </span>

              <!-- Modal -->
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <div class="attributeModalTitle2"></div>
                    </div>
                    <div class="modal-body">
                      <table class="table table-condensed featureAttributesList2">
                        <tr></tr>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Spatial Relationship Related Elements -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="menuGrouping menuGrouping3 well">
            <div class="spatialRelationshipGroup">
              <h5>Spatial Relationship Analysis</h5>
              <div class="step5"> 
                <div class="spatialOperand1">
                  <select class="selectpicker" id="featuresForSpatial1"></select>
                </div>
                <select class="selectpicker" id="availableOperationsForSpatial">
                  <option>sfWithin</option>
                  <option>sfEquals</option>
                  <option>sfContains</option>
                  <option>sfDisjoint</option>
                  <option>sfIntersects</option>
                  <option>sfOverlaps</option>
                  <option>sfTouches</option>
                  <option>ehEquals</option>
                  <option>ehDisjoint</option>
                  <option>ehMeet</option>
                  <option>ehOverlap</option>
                  <option>ehCovers</option>
                  <option>ehCoverdBy</option>
                  <option>ehInside</option>
                  <option>ehContains</option>
                </select>
                <div class="spatialOperand2">
                  <select class="selectpicker" id="featuresForSpatial2"></select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-3">
                  <button class="btn btn-success reverseSpatialOperands">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                </div>
                <div class="col-xs-6">
                  <button class="btn btn-success startSpatialRelBtn">
                    <span class="glyphicon glyphicon-send"></span> Submit
                  </button>
                </div>

                <!-- Display results of spatial relationship  -->
                <!-- Button trigger modal -->
                <div class="col-xs-3">
                  <button type="button" class="btn btn-primary spatialResultsModalBtn" data-toggle="modal" data-target="#myModal3">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                </div>
              </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>Spatial Relationship Results</h3>
                      </div>
                      <div class="modal-body" id="spatialRelResultsTable"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              
            </div>
          </div>
        </div>

        <!-- Binary Spatial Relationship Related Elements -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="menuGrouping menuGrouping4 well">
            <div class="binaryGroup">
              <h5>Binary Spatial Analysis</h5>
              <div class="step5">
                <select class="selectpicker" id="featuresForBinary1"></select>
                <select class="selectpicker" id="availableOperationsForBinary">
                  <option>intersection</option>
                  <option>union</option>
                  <option>difference</option>
                  <option>symDifference</option>
                  <option>distance</option>
                </select>
                <select class="selectpicker" id="featuresForBinary2"></select>
              </div>
              
              <div class="row">
                <div class="col-xs-9">
                  <button class="btn btn-success startBinaryBtn">
                    <span class="glyphicon glyphicon-send"></span> Submit
                  </button>
                </div>

                <!-- Display results of spatial relationship  --> 
                <!-- Button trigger modal -->
                <div class="col-xs-3">
                  <button type="button" class="btn btn-primary binaryResultsModalBtn" data-toggle="modal" data-target="#myModal4">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                </div>
              </div>
                
              <!-- Modal -->
              <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h3>Binary Relationship Results</h3>
                    </div>
                    <div class="modal-body" id="binarySpatialResultsTable"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-lg-6 col-xs-12 mapOuterDiv">
      <div class='bigmap' id='map'></div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'manifest/home', 'data-turbolinks-track' => false %>

<!-- errors relating to $ undefined if this is not up here rather than in body -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<%#= javascript_include_tag "jquery" %>
<%#= javascript_include_tag "bootstrap" %>
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script> -->

<%#= javascript_include_tag "proj4js" %>
<%#= javascript_include_tag "OpenLayers/OpenLayers" %>
<%#= javascript_include_tag "Openlayers/Openlayers.debug" %>
<%#= javascript_include_tag "home.map" %>
<%#= javascript_include_tag "home.queries" %>
<%#= javascript_include_tag "home.index" %>