
<div class="row">
	<div class="jumbotron text-center">
		<h1>GeoSparqlViz3</h1>
		<p>Visualize and analyze linked geospatial data</p>
	</div>
</div>

<%= javascript_include_tag 'manifest/welcome', 'data-turbolinks-track' => false %>
