<div class="row">
	<div class="col-lg-8"></div>
	<div class="col-lg-4">
		<div class="btn-group pull-right" role="group">
			<%= render 'devise/menu/login_button_items' %>
			<%= render 'devise/menu/registration_button_items' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="jumbotron text-center">
		<h1>GeoSparqlViz3</h1>
		<p>Visualize and analyze linked geospatial data</p>
	</div>
</div>

<%= javascript_include_tag 'manifest/welcome', 'data-turbolinks-track' => false %>
