
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="navTabUL">
    <li role="presentation" class="active">
    	<a href="#mapTab" aria-controls="mapTab" role="tab" data-toggle="tab">Map</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id='navTabPanelDiv'>
    <div role="tabpanel" class="tab-pane active" id="mapTab">

      <!-- 'map' is the Openlayers3 id target, don't change it! -->
    	<div class='bigmap' id='map'></div>
    </div>
  </div>
</div>