
<%# flash.each do |name, msg| %>
  <%#= content_tag :div, msg, class: "alert alert-info" %>
<%# end %>

<div class="row">
  <div class="col-lg-6 col-xs-12 sideBar">
    <div class="well">
    	<%#= render "left" %>
    	<span id="menu"></span>
    </div>
  </div>
  
  <div class="col-lg-6 col-xs-12 mapOuterDiv">
    <div class="well"><%= render "right" %></div>
  </div>
</div>


<%= javascript_include_tag 'manifest/home', 'data-turbolinks-track' => false %>

<%#= javascript_include_tag "" %>

<script type='text/javascript'>
$(document).ready(function() { 
  
  // <%# @sparql_queries.each do |sparql_query| %>
  // 	var name = '<%#= sparql_query.name %>';
  // 	var query = '<%#= sparql_query.query %>';
  // 	var selector ='#menu';
  //   var queryResponse = ['?object'];
  // 	buildMenu(name, query, selector, queryResponse);
  // <%# end %>

  var query = '<%= j @sparql_queries.first.query.squish.html_safe %>';
  var endpoint = '<%= j @sparql_queries.first.sparqlEndpoint.endpoint %>';
  submitQuery(query, endpoint);
});
</script>