<div class="row text-center">
	<div class="col-xs-3">
		<%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'.html_safe + 'Back', sparql_queries_path %>
	</div>
	<div class="col-xs-6">	
		<h1>Editing Sparql Endpoint</h1>
	</div>
</div>

<%= render 'form' %>

<%= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'manifest/sparqlQueries/form', 'data-turbolinks-track' => false %>