

<div class="well"><h1 class="text-center">Editing Sparql Endpoint</h1></div>

<div class="well"><%= render 'form' %></div>

<div class="well">
	<%= link_to @sparql_endpoint, method: :delete, data: { confirm: 'Are you sure?' } do %>
	    <button class="btn btn-danger btn-block">Delete!</button>
	<% end %>
</div>

