

<h1>New Sparql Endpoint</h1>

<%= render 'form' %>

<%= link_to 'Back', sparql_endpoints_path %>

<%= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>